In [4]:
# Import pandas
import pandas as pd

In [9]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', sep=' ')

In [11]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

In [41]:
#Compare the average income based on ethnicity
Avg = df.groupby("Ethnicity")["Income"].mean()
print(f"Average income for each ethnicity:\n{round(Avg, 2)}")

Average income for each ethnicity:
Ethnicity
African American    47.68
Asian               44.19
Caucasian           44.52
Name: Income, dtype: float64

In [62]:
# On average, do married or single people have a higher balance?
#Check the balanace value for each groups
single_avg = df[df.Married == "No"].loc[:,"Balance"].mean()
married_avg = df[df.Married == "Yes"].loc[:,"Balance"].mean()

#if condition to print out correct values
if single_avg > married_avg:
    print(f"Higher balance on average has Single with an average {round(single_avg,2)}")
elif single_avg == married_avg:
    print(f"Both have a sime balance: {round(single_avg,2)}")
else:
    print(f"Higher balance on average has Married with an average {round(married_avg,2)}")

Higher balance on average has Single with an average 13.49

In [72]:
# What is the highest income in our dataset?

print("The highest income in our dataset is", round(df.loc[:, "Income"].max(),2))

# Indicating the data of the whole record that has highest income
df[df.Income == df.loc[:, "Income"].max()]

The highest income in our dataset is 186.63

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
28,35.271011,186.634,13414,949,2,41,14,Female,No,Yes,African American

In [71]:
# What is the lowest income in our dataset?

print("The highest income in our dataset is", round(df.loc[:, "Income"].min(),2))

# Indicating the data of the whole record that has lowest income
df[df.Income == df.loc[:, "Income"].min()]

The highest income in our dataset is 10.35

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian

In [82]:
# How many cards do we have recorded in our dataset?

print("The sum of all cards recorded in the data set is:", df.loc[:,"Cards"].sum())

The sum of all cards recorded in the data set is: 1183

In [92]:
# How many females do we have information for vs how many males?

#Define the variables to count Female and Male records
male_count  = df[df.Gender == "Male"].loc[:,"Gender"].count()
female_count =df[df.Gender == "Female"].loc[:,"Gender"].count()

#Print the output of the vs
print(f"Information of Male vs Female:\n {male_count} vs {female_count}")

Information of Male vs Female:
 193 vs 207

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).